body{
  color: #f5f6f7;
  background-color: #1b1b32;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  
  label{
    display: block;
  }
  
   fieldset {
      border: none;
      padding: 2rem 0;
      }
    #name,#email,#number,
    textarea,
    select {
      margin: 10px 0 0 0;
      width: 100%;
      min-height: 2em;
    }
    h1,#description{
      margin: 1em auto;
      text-align: center;
    }

    form {
      width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
      padding-bottom: 2em;
    }